*{
    margin: 0px;
    padding:0px;
}

.main-div{
    margin: 50px;
     
}
.data{
    padding: 50px;
}
.container {
        width: 50% !important;
        margin: auto;
        background-color: rgba(239, 241, 236, 0.554);
        text-align: center;
        padding: 20px;
        border: 3px solid rgb(224, 5, 5);
        border-radius: 20px;
        background-color: black;
        color: wheat;
        height: 500px;
      }
      button {
        width: 80%;
        border-radius: 40px;
        display: block;
        margin: auto;
        
      }
      input{
        text-align: right;
      }